---
import Layout from '../layouts/BlogPost.astro';
import { calculateAge } from '../helpers/ageCalculator.js';
---

<Layout
	title="About Me"
	description="A little bit about me"
	pubDate={new Date('October 04 2023')}>

<p>
  I'm currently {calculateAge()} years old, from Argentina. I've recently begun my career
  as a Front End Web Developer after working 14 years in the
  Digital Marketing industry. No terrible regrets about it, just
  needed a change.
</p>
<p>
  Currently on a process to rediscover my curiosity and abilities
  as a developer. Currently learning React, Redux, Node and pretty
  much everything I can get my hands on and what{" "}
  <strike>very limited</strike> time affords me.
</p>
<p>
  I must confess I have been suffering from some form of Impostor
  Syndrome symptoms lately, but fair and square, from what I've
  heard, everyone suffers from it at some point. I just wish{" "}
  <i>it doesn't materialise as true in my case.</i>
</p>
<p>
  Items of expertice? I'm quite good at HTML, some PHP, CSS/ CSS3,
  some CMS's (Drupal, Wordpress) that I've worked with, and
  lately, React and Gatsby :)
</p>
<p>
  Have some project I can help you with?{" "}
  <i>Need advisory on making a solid argentinian barbecue?</i>{" "}
  Could use my help on your projects?{" "}
  <a href='https://www.buymeacoffee.com/aEZYFAS'>
    Wish to buy me a beer, a coffee or some chill pills?
  </a>{" "}
  <a href='/contact'>Get in touch with me!</a>
</p>
<p>
  <a href='/'>Back to home page.</a>
</p>
</Layout>
