body {
  --bg: white;
  --textNormal: #222;
  --textTitle: #222;
  --textLink: blue;
  --hr: hsla(0, 0%, 0%, 0.2);

  background-color: var(--bg);
}

body.dark {
  -webkit-font-smoothing: antialiased;

  --bg: black;
  --textNormal: rgba(255, 255, 255, 0.88);
  --textTitle: white;
  --textLink: yellow;
  --hr: hsla(0, 0%, 100%, 0.2);
}

.colorToggler{
	text-align:right;
}

.colorToggler ul li{ display:inline-block;padding:0 0 0 20px;list-style-type: none;}
	

.great-title {
	text-transform: uppercase;
	padding: 20px 40px;
	color: #fff;
	background: linear-gradient(270deg, #000000, #1612d0, #000000);
	background-size: 600% 600%;

	-webkit-animation: AnimationName 29s ease infinite;
	-moz-animation: AnimationName 29s ease infinite;
	animation: AnimationName 29s ease infinite;

	@-webkit-keyframes AnimationName {
		0% {
			background-position: 0% 50%;
		}
		50% {
			background-position: 100% 50%;
		}
		100% {
			background-position: 0% 50%;
		}
	}
	@-moz-keyframes AnimationName {
		0% {
			background-position: 0% 50%;
		}
		50% {
			background-position: 100% 50%;
		}
		100% {
			background-position: 0% 50%;
		}
	}
	@keyframes AnimationName {
		0% {
			background-position: 0% 50%;
		}
		50% {
			background-position: 100% 50%;
		}
		100% {
			background-position: 0% 50%;
		}
	}
}

p {
	text-align: justify;
}

.uses ul li {
	margin-left: 5%;
}
