---
---
<section class="main-profile">
        <img class="img-pic" src="gustavo-small.webp" alt="Small Image">
		<div class="text">

	<p>
		Written by <strong>Gustavo Malamud</strong> who lives and works in
		Buenos Aires, making all kinds of terrible things with{" "}
		<strike>moderate</strike> optimism.
		<br />
		<a href='/contact'>Speak your mind.</a> Or else
		<a href='/about'>find out a bit more about me.</a>
	</p>
</div>

</section>
<style>
	.main-profile {
            display: flex;
            align-items: center;
        }

        .main-profile img {
           
            margin-right: 20px; /* Add some space between the image and text */
        }

        .text {
            flex: 1; /* Allow the text to take up the remaining space */
        }
	@media (max-width: 720px) {
		.social-links {
			display: none;
		}
	}
</style>
